body {
	background-color: #e7e7e7;
	/* font-family: 'Ubuntu', sans-serif; */
	font-family: 'Montserrat', sans-serif;

}
.container {
	background-color: white;
}
header {
	margin-top: 20px;
}
/* #upMenu{
	display:flex;
	justify-content: center;
	align-items: center;
} */
.navbar ul {
	list-style-type: none;
	font-weight: 900;
	text-transform: uppercase;
	margin:10px;
}

.navbar ul:first-of-type{
	margin-left: 50px;

}
.navbar li a{
	/* font-family: 'Open Sans', sans-serif; */
	color:black;
}

/* .table>tbody>tr:hover */
.navbar li a:hover, .navbar .fas:hover {
	color: orange;
}

#navMenu {
	line-height: 3em;
}
#icons {
	display:inline;
}
#icons li{
	font-size: 2rem;
	margin-right: 20px;
	cursor: pointer;
}

#logo img {
	/* margin-top: 20px; */
	height: 50px;
	margin-left:  5%;
}

#upMenu {
	display: table-cell;
	vertical-align: middle;
}

.main {
	margin-bottom: 30px;
}
/* --------------- Sidebar menu  ----------------*/
#sidebar {
	width:300px;
	height:auto;
	display:inline-block;
	/* height:100vh; */
}

#sidebar ul, #cards ul {
	list-style-type: none;
	padding:0;
}
#sidebar li {
	margin:20px 0;
}
#sidebar .badge {
	float: right;
}

/* --------------- Sidebar menu end--------------*/

.table>tbody>tr>td{
	border: none;
	font-weight: 600;
}


/* #cards {
	display:inline-block;

} */

.card {
	border:1.5px rgb(216, 216, 216) solid;
	margin-left: 15px;
	margin-bottom: 20px;
	width: 30%;
	height: 250px;
	background-color: orange;
	display:inline-flex;
	flex-direction: column;
	cursor: pointer;
}

.card:hover {
	border:orange 1.5px solid;
	overflow:hidden;
}

.card img:hover {
	padding:10px;
}

.card img {
	width: 100%;
	height: 60%;
	padding:20px;
	background-color: white;
	display: inline-block;
}

.card .name {
	font-weight: 900;
	margin-top: 10px;
}

.card .item {
	padding: 5px 10px;
}

.badge {
	background-color: #d3d3d3;
	color: #5c5c5c;
}

.clicked{
	font-weight: 700;
	color:orange;
}

.hovered:not(.badge) {
	color:orange;
}

.clicked>.badge, .hovered>.badge {
	background-color: orange;
}

.footer {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2rem;
	font-weight: 900;
	padding-top: 20px;
	background-color: #ececec;
	/* height:200px; */
	padding-bottom: 50px;
	/* background-color: violet; */
}
.footer>div div:not(:first-of-type) {
	border-left:1px solid rgba(128, 128, 128, 0.24);
}

.fab {
	color: white;
	background-color: orange;
	margin-left: 5px;
	font-size: inherit;
	width: 40px;
	padding: 4% 0;
	text-align: center;
	cursor: pointer;
}

.fab:hover {
	background-color:rgb(133, 133, 133);
}
.footer ul {
	padding: 0;
}
.footer ul li {
	list-style-type: none;
	font-size: medium;
	font-weight: 400;
	padding-bottom: 10px;
}
.footer li:hover{
	color:orange;
	cursor: pointer;
}
/*use color:orange for the orange color*/
/*use background-color: #d3d3d3; color: #5c5c5c; for the badges*/
/*use color:grey for the social-share icons on hover*/